.mapboxgl-popup-close-button {
    top: 4px;
    right: 8px;
    width: 30px;
    height: 30px;
    font-size: 1.5rem;
    color: #151E25;
}
.mapboxgl-popup-anchor-left .mapboxgl-popup-tip {
    border-right-color: rgba(230, 238, 248, 0.9);
}
.mapboxgl-popup-content {
    width: 300px;
    padding: 8px 0px 16px 12px;
    background: rgba(230, 238, 248, 0.9);
    border: unset;
    .info-tite {
        font-size: 1.125rem;
        font-weight: bold;
        color: #151E25;
        letter-spacing: 0.35px;
        margin-bottom: 16px
    }
    .info-msg {
        max-height: 300px;
        overflow-y: auto;
        ul {
            padding-left: 0;
            padding-right: 16px;
            margin: 0;
            li {
                list-style: none;
                min-height: 18px;
                line-height: 18px;
                font-size: 0.9rem;
                + li {
                    margin-top: 20px;
                }
                .item-title-img {
                    color: #525E69;
                    letter-spacing: 0;
                    img {
                        margin-right: 6px;
                        width: 18px;
                        height: auto;
                        vertical-align: middle;
                    }
                }
                .item-title {
                    padding-left: 24px;
                    color: #525E69;
                    letter-spacing: 0;
                }
                .item-msg {
                    color: #000013;
                    letter-spacing: 0;
                    padding-left: 24px;
                    margin-top: 4px;
                    + .item-title {
                        margin-top: 12px;
                    }
                }
            }
        }
        .mCustomScrollBox {
            .mCS-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar, .mCS-3d-thick.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
                background-color: #686A68;
            }
        }
    }
}

#mapboxBox {
    .marker {
        // background-size: cover;
        width: 36px;
        height: 55px;
        // border-radius: 50%;
        cursor: pointer;
        background-repeat: no-repeat;
        &.pos0 {
            background-image: url('~imgs/ic_blue_dot.png');
            margin-top: -27.5px;
        }
        &.pos1 {
            background-image: url('~imgs/ic_green_dot.png');
            margin-top: -27.5px;
            &.loading::before {
                border: 2px solid #33c85a;
                border-right: 2px solid #FFF;
            }
        }
        &.pos2 {
            background-image: url('~imgs/ic_orange_dot.png');
            margin-top: -27.5px;
            &.loading::before {
                border: 2px solid #ffa10b;
                border-right: 2px solid #FFF;
            }
        }
        &.pos3 {
            background-image: url('~imgs/ic_brown_dot.png');
            margin-top: -27.5px;
            &.loading::before {
                border: 2px solid #5e3715;
                border-right: 2px solid #FFF;
            }
        }
        &.pos4 {
            background-image: url('~imgs/ic_red_dot.png');
            margin-top: -27.5px;
            &.loading::before {
                border: 2px solid #fc2e56;
                border-right: 2px solid #FFF;
            }
        }
        &.pos5 {
            background-image: url('~imgs/ic_gray_dot.png');
            margin-top: -27.5px;
            &.loading::before {
                border: 2px solid #8c8f97;
                border-right: 2px solid #FFF;
            }
        }
        &.loading {
            position: relative;
            &:before {
                content: "";
                position: absolute;
                width: 36px;
                height: 36px;
                background-color: rgba(255, 255, 255, 0.8);
                border-radius: 50%;
                top: -2px;
                left: -2px;
                animation: rotating 2s linear infinite;
                // border: 2px solid transparent;
                // border-right: 2px solid #FFF;
            }
        }
    }
}

.si-close-button {
    top: 4px;
    right: 2px;
    width: 30px;
    height: 30px;
    font-size: 1.5rem;
    color: #151E25;
}
// charge box
.si-has-border {
    .si-content-wrapper {
        width: 300px;
        // height: 400px;
        padding: 8px 0px 16px 12px;
        // border: 1px solid #FFFFFF;
        // box-shadow: 0 1px 4px 0 rgba(21,34,50,0.08);
        background: rgba(230, 238, 248, 0.9);
        border: unset;
        flex: unset;
        .info-tite {
            font-size: 1.125rem;
            font-weight: bold;
            color: #151E25;
            letter-spacing: 0.35px;
            margin-bottom: 16px;
        }
        .info-msg {
            max-height: 300px;
            ul {
                padding-left: 0;
                padding-right: 16px;
                margin: 0;
                li {
                    list-style: none;
                    min-height: 18px;
                    line-height: 18px;
                    font-size: 0.9rem;
                    + li {
                        margin-top: 20px;
                    }
                    .item-title-img {
                        color: #525E69;
                        letter-spacing: 0;
                        img {
                            margin-right: 6px;
                            width: 18px;
                            height: auto;
                            vertical-align: middle;
                        }
                    }
                    .item-title {
                        padding-left: 24px;
                        color: #525E69;
                        letter-spacing: 0;
                    }
                    .item-msg {
                        color: #000013;
                        letter-spacing: 0;
                        padding-left: 24px;
                        margin-top: 4px;
                        div.connector-obj .circle-number {
                            width: 24px;
                            height: 24px;
                            margin: 2px;
                        }
                        + .item-title {
                            margin-top: 12px;
                        }
                    }
                }
            }
            .mCustomScrollBox {
                .mCS-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar, .mCS-3d-thick.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
                    background-color: #686A68;
                }
            }
        }
    }
    .si-pointer-bg-right {
        border-right-color: rgba(230, 238, 248, 1);
    }
}
//station
.station-infoWindow .si-content-wrapper .si-content {
    width: 200px;
    .info-tite {
        font-size: 1rem;
        color: #404142;
        letter-spacing: 1.43px;
        margin-bottom: 8px;
        word-break: break-all;
    }
    .info-msg {
        font-size: 0.75rem;
        color: #525E69;
        letter-spacing: 1.07px;
        margin-bottom: 8px;
        word-break: break-all;
    }
}

.google-map-marker-label-ts {
    color: #525E69;
    background-color: white;
    font-size: 0.95rem;
    text-align: center;
    width: 28.8px;
    height: 28px;
    white-space: nowrap;
    border-radius: 36px;
    margin-left: 3.5px;
    line-height: 28px;
    vertical-align: middle;
}
.google-map-marker-label-tm {
    color: #525E69;
    background-color: white;
    font-size: 1.2rem;
    // font-size: 0.85rem;
    text-align: center;
    width: 28.8px;
    height: 28px;
    white-space: nowrap;
    border-radius: 36px;
    margin-left: 3.5px;
    line-height: 28px;
    vertical-align: middle;
}

.google-map-marker-label-tl {
    color: #525E69;
    background-color: white;
    // font-size: 1.5rem;
    // font-size: 0.75rem;
    font-size: 1.2rem;
    text-align: center;
    width: 28.8px;
    height: 28px;
    white-space: nowrap;
    border-radius: 36px;
    margin-left: 3.5px;
    line-height: 28px;
    vertical-align: middle;
}