$dark-font-color: #ffffff;
$dark-background-color: #2d3855;
.dark-theme {
    .el-select .el-input .el-select__caret {
        color: #c0c4cc !important;
    }
    .header {
        background: #151a30 !important;
        .userinfo-inner {
            color: $dark-font-color !important;
        }
    }

    .left-container {
        background: #151a30 !important;
        ul {
            background: inherit !important;
        }
        .home-menu {
            .el-submenu {
                color: $dark-font-color !important;
                .el-submenu__title {
                    color: inherit !important;
                    i.el-submenu__icon-arrow {
                        color: inherit !important;
                    }
                }
            }
            .el-menu {
                .el-menu-item {
                    color: $dark-font-color !important;
                }
                .el-menu-item.is-active {
                    color: #0c83ff !important;
                }
            }
        }
    }

    .right-container {
        background: #222b45 !important;
        border-top-left-radius: 0 !important;
        .el-breadcrumb__item {
            .el-breadcrumb__inner,
            .el-breadcrumb__separator {
                color: $dark-font-color !important;
            }
        }

        .location {
            .el-breadcrumb__item {
                .el-breadcrumb__inner,
                .el-breadcrumb__separator {
                    color: inherit !important;
                }
            }
        }
        .el-dialog {
            background: #323d5d !important;
            color: $dark-font-color !important;
            .el-dialog__title,
            .el-dialog__body,
            .formVertical .form-item .label,
            .mainctrl .el-table tr td {
                color: $dark-font-color !important;
                .el-checkbox .el-checkbox__label {
                    color: $dark-font-color !important;
                }
            }
        }
        .dashboard-statistics {
            ::placeholder,
            .el-select input {
                color: $dark-font-color !important;
            }
        }

        .mainctrl {
            .el-table {
                tr {
                    td .cell,
                    th .cell {
                        color: $dark-font-color !important;
                    }
                }
            }
            .statistics {
                .header {
                    background: inherit !important;
                }
            }
            .card-8 {
                background: $dark-background-color;
                box-shadow: 0 1px 4px 0 $dark-background-color;
                .header,
                .s-contain .item .label {
                    background: inherit !important;
                    color: $dark-font-color !important;
                }
                .alertPageComment {
                    color: $dark-font-color !important;
                }
                .carDetail,
                .charge-point-info {
                    .item {
                        .label,
                        .info,
                        .content {
                            color: $dark-font-color !important;
                        }
                    }
                }
            }
            .el-tabs:not(.el-tabs--card) .el-tabs__nav-wrap .el-tabs__item {
                color: $dark-font-color;
            }
            .el-tabs:not(.el-tabs--card) .el-tabs__nav-wrap .el-tabs__item.is-active {
                color: #0c83ff;
            }
            .table-result .el-table tbody tr {
                background: none;
                td.el-table__expanded-cell {
                    background: none !important;
                }
            }
        }
    }
}

.el-message-box.custom.dark-theme {
    background: $dark-background-color;
    color: $dark-font-color;
    .el-message-box__header .el-message-box__title,
    .el-message-box__content {
        color: $dark-font-color;
    }
}

.el-dropdown-menu.dark-theme {
    background: $dark-background-color;
    background-color: $dark-background-color;
    .el-menu {
        background-color: $dark-background-color;
        .el-submenu__title {
            color: $dark-font-color;
            &:hover {
                color: $dark-font-color;
                background-color: inherit;
            }
        }

        .el-menu-item {
            color: $dark-font-color;
            &:hover {
                color: inherit;
            }
        }
        .el-menu-item.is-active {
            color: #0c83ff;
            &:hover {
                color: #0c83ff;
            }
        }
    }

    .el-dropdown-menu__item {
        color: $dark-font-color !important;
        width: 60px;
        &:hover {
            color: inherit;
            background-color: inherit;
        }
    }
}
