.home-menu {
    .el-submenu {
        height:  auto;
        padding: 0;
        min-height: 23px;
        line-height: 23px;
        .el-submenu__title {
            color: #22002D;
            font-size: 1rem;
            white-space: break-spaces;
            letter-spacing: -0.3px;
            margin: 0 0 0 -8px;
            padding-right: 0;
            i.el-submenu__icon-arrow {
                color: #22002D;
                font-weight: bold;
                right: 12px;
            }
        }
        &.is-active .el-submenu__title {
            color: #000013;
            font-weight: bold;
            background-color: transparent;
        }
        .el-submenu__title:focus, .el-submenu__title:hover {
            background-color: transparent;
        }
        .el-menu {
            background-color: transparent;
            .el-menu-item {
                color: #22002D;
                font-size: 1rem;
                white-space: break-spaces;
                letter-spacing: -0.3px;
                &:focus, &:hover {
                    background-color: transparent;
                }
                &.is-active {
                    color: #0C83FF;
                    font-weight: bold;
                }
                &.longItem {
                    font-size: 0.9rem;
                }
            }
        }
    }
}
.scroll {
    height: 100%;
}
.scroll,
.home-menu,
.formVertical,
.el-popover.dark .el-table {
    .mCS-dark.mCSB_scrollTools {
        width: 10px;
        .mCSB_draggerContainer {
            border-radius: 6px;
            background: #aad1fb;
            width: 6px;
        }
        .mCSB_dragger .mCSB_dragger_bar {
            background: #0d74de;
            width: 6px;
        }
        .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar,
        .mCSB_dragger:active .mCSB_dragger_bar,
        .mCSB_dragger:hover .mCSB_dragger_bar {
            background: #0d74de;
        }
        .mCSB_draggerRail {
            background: transparent;
            width: 6px;
            margin-top: -4px;
        }
    }

}
.mainctrl {
    padding: 2.4vh 1.6vw 2.4vh 1.6vw;
    .el-loading-mask {
        background-color: rgba(245, 250, 255, 0.9);
    }
    .el-breadcrumb {
        margin-bottom: 2vh;
        display: inline-block;
        .el-breadcrumb__item {
            .el-breadcrumb__inner,
            .el-breadcrumb__separator {
                font-size: 0.875rem;
                color: #525E69;
                letter-spacing: 1.25px;
                font-weight: 400;
            }
        }
    }
    .right {
        float: right;
    }
    .large.el-select {
        width: 180px;
        margin-bottom: 12px;
        input {
            font-size: 1.5rem;
            background: transparent;
            border: unset;
            color: #151E25;
            padding-left: 0;
        }
        input::-webkit-input-placeholder {
            color: #525E69;
        }
        .el-input__suffix .el-input__suffix-inner i,
        .el-input__suffix .el-input__suffix-inner i:hover {
            color: #151E25;
            font-weight: bold;
        }
    }
    .card-8 {
        display: inline-block;
        width: calc(100% - 28px);
        background: #E5E9F2;
        // box-shadow: 0 1px 4px 0 #E5E9F2;
        border-radius: 8px;
        border-radius: 8px;
        margin-bottom: 24px;
        padding: 14px;
        .filter {
            margin-bottom: 12px;
            width: 100%;
            .el-range-editor {
                width: 280px;
                border: unset;
                background: #F5FAFF;
                border-radius: 4px;
                height: 42px;
                vertical-align: top;
                margin-bottom: 8px;
                border: 1px solid #D4DCEA;
                .el-range__icon,
                .el-range__close-icon {
                    color: #151E25;
                }
                &.is-active, &.is-active:hover {
                    border: unset;
                }
                &.el-range-editor--mini .el-range-input {
                    width: 92px;
                    font-size: 0.875rem;
                    color: #151E25;
                    line-height: 20px;
                    background: #F5FAFF;
                }
                .el-range-input::-webkit-input-placeholder {
                    color: #525E69;
                }
                .el-range-separator {
                    font-size: 0.875rem;
                    color: #151E25;
                    line-height: 20px;
                    height: 20px;
                    vertical-align: middle;
                }
            }
            .el-input {
                width: 250px;
                height: 40px;
                background: #F5FAFF;
                border-radius: 4px;
                margin-bottom: 8px;
                border: 1px solid #D4DCEA;
                input {
                    background: transparent;
                    border: unset;
                    color: #151E25;
                    font-size: 0.875rem;
                    height: 40px;
                    line-height: 40px;
                }
                input::-webkit-input-placeholder {
                    color: #525E69;
                }
                .el-input__prefix {
                    color: #151E25;
                }
                .el-input__suffix .el-input__suffix-inner i,
                .el-input__suffix .el-input__suffix-inner i:hover {
                    color: #151E25;
                    font-size: 0.75rem;
                }
            }
            .el-select {
                width: 180px;
                border: 1px solid #D4DCEA;
                height: 40px;
                background: #F5FAFF;
                border-radius: 4px;
                margin-bottom: 8px;
                .el-input {
                    width: inherit;
                    border: unset;
                }
            }
            .el-button {
                width: 40px;
                height: 40px;
                padding: 8px;
                background: transparent;
                border-radius: 4px;
                border: unset;
                .el-icon-plus {
                    color: #1E5EFF;
                    font-weight: bold;
                    font-size: 1.25rem;
                }
            }
        }
        .circle-status {
            display: inline-block;
            width: 16px;
            height: 16px;
            border-radius: 16px;
            &.color1 {
                background: #33c85a;
            }
            &.color5 {
                background: #8c8f97;
            }
        }
        .el-tabs {
            .el-tabs__nav-wrap {
                &::after {
                    background: #DCE6F3;
                }
                .el-tabs__active-bar {
                    background: #1E5EFF;
                }
                .el-tabs__item {
                    font-size: 1rem;
                    color: #6C6C6C;
                    letter-spacing: 0;
                    padding: 0 16px;
                    &.is-active {
                        color: #1E5EFF;
                    }
                }
            }
        }
        &.station-detail .chart .el-select {
            width: 136px;
            input {
                background: transparent;
                border: unset;
                color: #525E69;
                font-size: 0.875rem;
            }
            input::-webkit-input-placeholder {
                color: #525E69;
            }
            .el-input__suffix .el-input__suffix-inner i,
            .el-input__suffix .el-input__suffix-inner i:hover {
                color: #525E69;
                font-weight: bold;
            }
        }
    }
    &.dashboard-statistics .card-8 {
        display:inline-block;
        background: #E5E9F2;
        box-shadow: 0 1px 4px 0 #E5E9F2;
        border-radius: 8px;
        border-radius: 8px;
        margin-bottom: 24px;
        padding: 16px 18px;
        color: #FFF;
        .header {
            color: #151E25;
            font-size: 1.125rem;
        }
        .content {
            font-size: 0.875rem;
            color: #FFFFFF;
        }
        .el-select {
            width: 120px;
            input {
                border: unset;
                background: transparent;
                color: #525E69;
                letter-spacing: 0;
                font-size: 0.75rem;
            }
            .el-input__suffix .el-input__suffix-inner i,
            .el-input__suffix .el-input__suffix-inner i:hover {
                color: #525E69;
                font-size: 0.75rem;
                font-weight: bold;
            }
        }
        .el-progress {
            .el-progress-bar__outer {
                background-color: #D5D4D4;;
                border-radius: 6px;
                border-radius: 6px;
                .el-progress-bar__inner {
                    background-color: #0C83FF;
                    border-radius: 6px;
                    border-radius: 6px;
                }
            }
            &.spec .el-progress-bar__outer .el-progress-bar__inner {
                background-color: #FFA10B;
            }
        }
    }
}
.el-autocomplete {
    &.input-round input.el-input__inner {
        border-radius: 20px;
        background: #E6EEF8;
        color: #151E25;
        border: unset;
        height: 40px;
        line-height: 40px;
        padding-left: 40px;
    }
    &.input-round input.el-input__inner::-webkit-input-placeholder {
        color: #525E69;
    }
    .el-input .el-input__prefix {
        color: #151E25;
        padding-left: 8px;
    }
    .el-input__suffix .el-input__suffix-inner i,
    .el-input__suffix .el-input__suffix-inner i:hover {
        color: #151E25;
    }
}
button,
.el-button {
    cursor: pointer;
    outline: none;
    &.no-bg {
        background-color: transparent;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        border: unset;
    }
    &.loc {
        width: 24px;
        height: 24px;
        background-image: url('~imgs/ic_placeholder.png');
    }
    &.edit {
        width: 24px;
        height: 24px;
        background-image: url('~imgs/ic_modify.png');
    }
    &.delete {
        width: 24px;
        height: 24px;
        background-image: url('~imgs/ic_delete.png');
    }
    &.unbind {
        width: 24px;
        height: 24px;
        background-image: url('~imgs/ic_unbind.png');
    }
     + .el-button {
        margin-left: 8px;
    }
}
el.button:disabled,
button:disabled {
    cursor: not-allowed;
}
.mainctrl .el-pagination.is-background {
    // padding: 12px;
    text-align: center;
    .btn-prev, .btn-next {
        width: 36px;
        height: 36px;
        line-height: 36px;
        color: #525E69;
        background: transparent;
        border-radius: 4px;
        &:disabled {
            color: #525E69;
        }
    }
    /deep/.btn-prev:before {
        content: "\8592";
    }
    /deep/.btn-next:before {
        content: "下一页";
    }
    .el-pager li {
        width: 36px;
        height: 36px;
        line-height: 36px;
        color: #5A607F;
        background: rgba(255,255,255,0.00);
        border-radius: 4px;
        font-size: 1rem;
        &:not(.disabled).active {
            color: #e2dfdf;
            background: #525E69;
        }
    }
}

.el-popover.dark {
    .el-table {
        // background-color: transparent;
        tr {
            // background-color: transparent;
            th {
                // background-color: transparent;
                padding: 0;
                border: none;
                color: #525E69;
                font-size: 14px;
                letter-spacing: 0;
                &.is-leaf {
                    border-bottom: none;
                }
                .cell {
                    word-break: break-word;
                }
            }
            td {
                padding: 0;
                border: none;
                color: #151E25;
            }
        }
        &::before {
            background-color: unset;
        }
        &.el-table--enable-row-hover .el-table__body tr:hover>td {
            background-color: transparent;
        }
    }
}
.mainctrl .el-dialog {
    background: #E6EEF8;
    .el-dialog__header {
        padding: 3.5vh 2vw 1vh 2vw;
        .el-dialog__title {
            font-size: 1.5rem;
            color: #151E25;
        }
    }
    .el-dialog__body {
        padding: 1vh 2vw 2vh 2vw;
    }
    .el-dialog__footer {
        padding: 0 2vw 2vh 2vw;
        .el-button {
            font-size: 0.875rem;
            width: 130px;
            height: 50px;
            border-radius: 6px;
            &.el-button--default {
                background: #F5FAFF;
                border: 1px solid #D4DCEA;
                color: #525E69;
            }
            &.el-button--primary {
                background: #0263FF;
                color: #FFF;
                border:unset;
            }
        }
    }
}
.formVertical {
    max-height: calc(65vh - 75px);
    .mCustomScrollBox .mCSB_container>.form-item {
        width: calc(100% - 20px);
    }
    .form-item {
        + .form-item {
            margin-top: 18px;
        }
        .label {
            font-size: 1rem;
            margin-bottom: 12px;
            color: #525E69;
            letter-spacing: 0;
            .el-button {
                width: 36px;
                height: 36px;
                padding: 8px;
                background: transparent;
                border-radius: 4px;
                border: unset;
                .el-icon-plus {
                    color: #1E5EFF;
                    font-size: 1rem;
                    font-weight: bold;
                }
            }
        }
        .el-input,
        .el-select,
        .el-input-number {
            width: 100%;
            input {
                background: #F5FAFF;
                border: 1px solid #D4DCEA;
                border-radius: 8px;
                color: #151E25;
                letter-spacing: 0;
                font-size: 1rem;
                line-height: 48px;
                height: 48px;
                vertical-align: middle;
            }
            input::-webkit-input-placeholder {
                color: #525E69;
            }
        }
        .el-select .el-input .el-select__caret {
            color: #525E69;
        }
        .el-input-number {
            &.is-controls-right[class*=mini] [class*=decrease],
            &.is-controls-right[class*=mini] [class*=increase] {
                line-height: unset;
            }
            .el-input__inner {
                text-align: left;
            }
            .el-input-number__decrease,
            .el-input-number__increase {
                border: unset;
                background-color: #F5FAFF;
                margin-right: 2px;
                .el-icon-arrow-down,
                .el-icon-arrow-up {
                    font-size: 16px;
                    color: #525E69;
                }
            }
        }
    }
    .hint {
        margin: 8px 0 18px 0;
        font-size: 0.75rem;
        color: #1E5EFF;
    }
}
.el-message-box.custom {
    background: #E6EEF8;
    border: unset;
    padding-bottom: 20px;
    .el-message-box__header {
        padding: 20px 20px 10px;
        .el-message-box__title {
            font-size: 1.25rem;
            color: #525E69;
        }
        .el-message-box__headerbtn .el-message-box__close,
        .el-message-box__headerbtn:focus .el-message-box__close,
        .el-message-box__headerbtn:hover .el-message-box__close {
            color: #FFFFFF;
        }
    }
    .el-message-box__content {
        font-size: 1.125rem;
        color: #151E25;
    }
    .el-message-box__btns {
        padding: 20px 20px 0;
        .el-button {
            font-size: 0.875rem;
            height: 36px;
            &.el-button--primary {
                background: #0263FF;
                color: #FFF;
                border:unset;
            }
            &:not(.el-button--primary) {
                background: #F5FAFF;
                border: 1px solid #D4DCEA;
                color: #525E69;
            }
        }
    }
}

.horizontal {
    display: flex;
    &.spaceBetween {
        justify-content: space-between;
    }
    &.alignItemCenter {
        align-items: center;
    }
}
@keyframes spin {
    100% {
        transform:rotate(360deg);
    }
}
.rotate {
    animation: spin 1s linear infinite;
}
$dividerGray: #6C6C6C;
.lineBottom {
    border-bottom: 1px solid $dividerGray;
}
.colorGray {
    color: $dividerGray;
}
.el-tooltip__popper.custom.is-light {
    // background: #303133;
    // border: 1px solid #ecf5ff;
    color: #151E25;
}
// .el-tooltip__popper.custom.is-light[x-placement^=top] .popper__arrow {
//     border-top-color: #ecf5ff;
// }
// .el-tooltip__popper.custom.is-light[x-placement^=top] .popper__arrow::after {
//     border-top-color: #303133;
// }