.login {
    .el-input {
        width: 100%;
        height: 40px;
        background: rgba(245, 250, 255, 0.5);
        border-radius: 10px;
        margin-bottom: 1.6vh;
        border: unset;
        input {
            background: transparent;
            border: unset;
            color: #151e25;
            font-size: 0.9rem;
            height: 40px;
            line-height: 40px;
            padding-left: calc(2.3vw + 20px);
            &:focus {
                color: #007bff;
            }
        }
        .el-input__prefix img {
            padding-top: 10px;
            padding-left: 1.5vw;
        }
        .el-input__suffix {
            font-size: 0.9rem;
            padding-right: 1vw;
            i {
                font-size: 1rem;
            }
            .el-icon-circle-check {
                color: #62de24;
            }
        }
        .el-input__suffix .el-input__suffix-inner i,
        .el-input__suffix .el-input__suffix-inner i:hover {
            color: #151e25;
            font-size: 0.9rem;
        }
        input::-webkit-input-placeholder {
            color: #525e69;
        }
        + .el-form-item__error {
            margin-top: -1vh;
            padding-left: 1.5vw;
        }
    }
    .el-select {
        width: 100%;
        height: 40px;
        border: unset;
        background: rgba(245, 250, 255, 0.5);
        border-radius: 10px;
        margin-bottom: 1.6vh;
        .el-input {
            width: inherit;
            border: unset;
            background: transparent;
            margin-bottom: unset;
            &.is-focus {
                color: #007bff;
            }
            input {
                padding-left: 1.5vw;
            }
        }
    }
    .captcha {
        .el-input {
            width: calc(50% - 24px);
            margin-right: 6px;
            input {
                padding-left: calc(1vw + 8px);
            }
            .el-input__suffix {
                padding-right: 4px;
            }
        }
        img {
            width: calc(50% - 28px);
            max-height: 40px;
            margin-right: 6px;
            vertical-align: middle;
        }
        .el-button {
            width: 20px;
            height: 20px;
        }
    }
}
.home-menu {
    .el-submenu {
        height: auto;
        padding: 0;
        min-height: 23px;
        line-height: 23px;
        .el-submenu__title {
            color: #22002d;
            font-size: 1.3rem;
            white-space: break-spaces;
            // letter-spacing: -0.3px;
            margin: 0 0 0 -8px;
            padding-right: 0;
            span {
                padding: 0 0 0 5px;
            }
            i.el-submenu__icon-arrow {
                color: #22002d;
                font-weight: bold;
                right: 12px;
            }
        }
        &.is-active .el-submenu__title {
            color: #000013;
            font-weight: bold;
            background-color: transparent;
        }
        .el-submenu__title:focus,
        .el-submenu__title:hover {
            background-color: transparent;
        }
        .el-menu {
            background-color: transparent;
            .el-menu-item {
                color: #22002d;
                font-size: 1rem;
                white-space: break-spaces;
                // letter-spacing: -0.3px;
                &:focus,
                &:hover {
                    background-color: transparent;
                }
                &.is-active {
                    color: #0c83ff;
                    font-weight: bold;
                }
                &.longItem {
                    font-size: 0.9rem;
                }
            }
        }
    }
}
.scroll {
    height: 100%;
}
.scroll,
.chargeBox-drawer,
.home-menu,
.formVertical,
.el-popover.dark .el-table {
    .mCS-dark.mCSB_scrollTools {
        width: 10px;
        .mCSB_draggerContainer {
            border-radius: 6px;
            background: #aad1fb;
            width: 6px;
        }
        .mCSB_dragger .mCSB_dragger_bar {
            background: #0d74de;
            width: 6px;
        }
        .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar,
        .mCSB_dragger:active .mCSB_dragger_bar,
        .mCSB_dragger:hover .mCSB_dragger_bar {
            background: #0d74de;
        }
        .mCSB_draggerRail {
            background: transparent;
            width: 6px;
            margin-top: -4px;
        }
    }
}
// remove whitespace from bottom right corner
::-webkit-scrollbar-corner {
    background: transparent;
}
.mainctrl {
    padding: 2.4vh 1.6vw 2.4vh 1.6vw;
    .el-loading-mask {
        background-color: rgba(245, 250, 255, 0.9);
    }
    .el-breadcrumb {
        margin-bottom: 2vh;
        display: inline-block;
        .el-breadcrumb__item {
            .el-breadcrumb__inner,
            .el-breadcrumb__separator {
                font-size: 1rem;
                color: #525e69;
                letter-spacing: 1.25px;
                font-weight: 400;
            }
        }
    }
    .right {
        float: right;
    }
    .loc-filter {
        .el-input {
            width: 160px;
            height: 40px;
            background: #f5faff;
            border-radius: 6px;
            margin-bottom: 8px;
            border: 1px solid #d4dcea;
            input {
                background: transparent;
                border: unset;
                color: #151e25;
                font-size: 1rem;
                height: 40px;
                line-height: 40px;
            }
            .el-input__prefix {
                color: #151e25;
            }
            .el-input__suffix .el-input__suffix-inner i,
            .el-input__suffix .el-input__suffix-inner i:hover {
                color: #151e25;
                font-size: 1rem;
            }
            input::-webkit-input-placeholder {
                color: #525e69;
            }
        }
        .el-select {
            width: 160px;
            border: 1px solid #d4dcea;
            height: 40px;
            background: #f5faff;
            border-radius: 6px;
            margin-bottom: 8px;
            .el-input {
                width: inherit;
                border: unset;
            }
            + div.label {
                margin-left: 28px;
            }
        }
        > div + div {
            margin-left: 5px;
        }
    }
    .large.el-select {
        width: 180px;
        margin-bottom: 12px;
        input {
            font-size: 1.5rem;
            background: transparent;
            border: unset;
            color: #151e25;
            padding-left: 0;
        }
        .el-input--mini .el-input__inner {
            height: 32px;
            line-height: 32px;
        }
        input::-webkit-input-placeholder {
            color: #525e69;
        }
        .el-input__suffix .el-input__suffix-inner i,
        .el-input__suffix .el-input__suffix-inner i:hover {
            color: #151e25;
            font-weight: bold;
        }
    }
    .el-link {
        font-size: 16px;
    }
    .card-8 {
        display: inline-block;
        width: calc(100% - 28px);
        background: #e6eef8;
        -webkit-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.06);
        box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.06);
        border-radius: 8px;
        border-radius: 8px;
        margin-bottom: 24px;
        padding: 14px;
        // add a custom style for dropdown
        .header {
            .customSelect {
                background: transparent;
                input {
                    border: none;
                    background: inherit;
                    color: #0056ff;
                    font-size: 1.25rem;
                    font-weight: 700;
                }
                .el-icon-arrow-up {
                    color: #0056ff;
                    font-size: 1.25rem;
                    font-weight: 700;
                }
            }
        }
        .filter {
            margin-bottom: 12px;
            width: 100%;
            .el-range-editor {
                width: 280px;
                border: unset;
                background: #f5faff;
                border-radius: 4px;
                height: 42px;
                vertical-align: top;
                margin-bottom: 8px;
                border: 1px solid #d4dcea;
                .el-range__icon,
                .el-range__close-icon {
                    color: #151e25;
                }
                &.is-active,
                &.is-active:hover {
                    border: unset;
                }
                &.el-range-editor--mini .el-range-input {
                    width: 92px;
                    font-size: 0.875rem;
                    color: #151e25;
                    line-height: 20px;
                    background: #f5faff;
                }
                .el-range-input::-webkit-input-placeholder {
                    color: #525e69;
                }
                .el-range-separator {
                    font-size: 0.875rem;
                    color: #151e25;
                    line-height: 20px;
                    height: 20px;
                    vertical-align: middle;
                }
            }
            .autoresizeselect {
                height: auto;
                .el-input {
                    height: auto;
                    margin-bottom: 0;
                    input {
                        height: auto;
                    }
                }
            }
            .el-input {
                width: 250px;
                height: 40px;
                background: #f5faff;
                border-radius: 4px;
                margin-bottom: 8px;
                border: 1px solid #d4dcea;
                input {
                    background: transparent;
                    border: unset;
                    color: #151e25;
                    font-size: 0.875rem;
                    height: 40px;
                    line-height: 40px;
                }
                input::-webkit-input-placeholder {
                    color: #525e69;
                }
                .el-input__prefix {
                    color: #151e25;
                }
                .el-input__suffix .el-input__suffix-inner i,
                .el-input__suffix .el-input__suffix-inner i:hover {
                    color: #151e25;
                    font-size: 0.75rem;
                }
            }
            .el-select {
                width: 180px;
                border: 1px solid #d4dcea;
                height: 40px;
                background: #f5faff;
                border-radius: 4px;
                margin-bottom: 8px;
                .el-input {
                    width: inherit;
                    border: unset;
                }
            }
            .el-button {
                width: 40px;
                height: 40px;
                padding: 8px;
                background: transparent;
                border-radius: 4px;
                border: unset;
                .el-icon-plus,
                .el-icon-refresh-right {
                    color: #1e5eff;
                    font-weight: bold;
                    font-size: 1.5rem;
                }
            }
            > div + div {
                margin-left: 5px;
            }
        }
        .circle-status {
            display: inline-block;
            width: 16px;
            height: 16px;
            border-radius: 16px;
            &.color1 {
                background: #33c85a;
            }
            &.color2 {
                background: #ffa10b;
            }
            &.color3 {
                background: #5e3715;
            }
            &.color4 {
                background: #fc2e56;
            }
            &.color5 {
                background: #8c8f97;
            }
            &.color6 {
                background: #dde2ee;
            }
            &.color7 {
                background: #ddc31b;
            }
            &.color8 {
                background: #0056ff;
            }
            &.color10 {
                background: #8c8f97;
            }
            &.inUse {
                background: #409eff;
            }
            &.available {
                background: #33c85a;
            }
            &.unavailable {
                background: #fc2e56;
            }
            &.unknown {
                background: #8c8f97;
            }
        }
        &.report {
            margin-bottom: 0;
            .tabs-contain .tab {
                .summary {
                    font-size: 0.875rem;
                    color: #5a607f;
                    margin-bottom: 12px;
                }
                .info-block {
                    width: 100%;
                    height: 40vh;
                }
                .report-border {
                    border: 1px solid #dce6f3;
                    border-radius: 8px;
                    padding: 12px 16px;
                    box-sizing: border-box;
                    vertical-align: top;
                    &.usagePatterns {
                        &.chart-container {
                            display: inline-block;
                            width: calc(58% - 22px);
                        }
                        &.statistic {
                            display: inline-block;
                            width: 42%;
                            .item {
                                display: inline-block;
                                width: calc(50% - 4px);
                            }
                        }
                    }
                    &.pluggedNotCharging {
                        &.chart-container {
                            display: inline-block;
                            width: calc(75% - 22px);
                        }
                        &.statistic {
                            display: inline-block;
                            width: 25%;
                        }
                    }
                    &.chart-container {
                        height: 100%;
                        margin-right: 16px;
                        .lineChart,
                        .barChart {
                            width: 100%;
                            height: calc(100% - 20px);
                            position: relative;
                        }
                    }
                    &.statistic {
                        display: inline-block;
                        height: 100%;
                        .item {
                            vertical-align: top;
                            margin-bottom: 5%;
                            .label {
                                font-size: 0.875rem;
                                color: #525e69;
                                letter-spacing: 0;
                                margin-bottom: 4px;
                            }
                            .msg {
                                font-size: 1.5rem;
                                color: #151e25;
                                letter-spacing: 0;
                                .unit {
                                    font-size: 0.875rem;
                                    color: #525e69;
                                    margin-left: 2px;
                                }
                            }
                        }
                    }
                    &.detail {
                        margin-top: 16px;
                    }
                    .label {
                        font-size: 1rem;
                        color: #525e69;
                        font-weight: bold;
                    }
                }
            }
        }
        .carDetail {
            .el-tab-pane {
                height: 360px;
            }
        }
    }
    &.dashboard-statistics .card-8 {
        display: inline-block;
        background: #e5e9f2;
        box-shadow: 0 1px 4px 0 #e5e9f2;
        border-radius: 8px;
        border-radius: 8px;
        margin-bottom: 24px;
        padding: 16px 18px;
        color: #fff;
        .header {
            color: #151e25;
            font-size: 1.125rem;
        }
        .content {
            font-size: 0.875rem;
            color: #ffffff;
            i[class*=" el-icon-"],
            i[class^="el-icon-"] span {
                font-family: Roboto Condensed, sans-serif !important;
            }
        }
        .el-select {
            width: 120px;
            input {
                border: unset;
                background: transparent;
                color: #525e69;
                letter-spacing: 0;
                font-size: 0.75rem;
            }
            .el-input__suffix .el-input__suffix-inner i,
            .el-input__suffix .el-input__suffix-inner i:hover {
                color: #525e69;
                font-size: 0.75rem;
                font-weight: bold;
            }
        }
        .el-progress {
            .el-progress-bar__outer {
                background-color: #d5d4d4;
                border-radius: 6px;
                border-radius: 6px;
                .el-progress-bar__inner {
                    background-color: #0c83ff;
                    border-radius: 6px;
                    border-radius: 6px;
                }
            }
            &.spec .el-progress-bar__outer .el-progress-bar__inner {
                background-color: #ffa10b;
            }
        }
    }
    .el-tabs:not(.el-tabs--card) {
        .el-tabs__nav-wrap {
            &::after {
                background: #dce6f3;
            }
            .el-tabs__active-bar {
                background: #1e5eff;
            }
            .el-tabs__item {
                font-size: 1rem;
                color: #6c6c6c;
                letter-spacing: 0;
                &.is-active {
                    color: #1e5eff;
                }
            }
        }
    }
    .el-tabs--card {
        &.work-order-list-tabs {
            width: 100%;
            height: calc(100% - 28px);
            box-sizing: border-box;
            & > .el-tabs__header {
                margin-bottom: 4px;
                .el-tabs__nav-wrap {
                    .el-tabs__nav-scroll {
                        overflow: hidden;
                        .el-tabs__nav {
                            border: 1px solid #0056ff !important;
                            border-bottom: none;
                            border-radius: 4px;
                            box-sizing: border-box;
                            width: 100%;
                            white-space: nowrap;
                            display: table;
                            table-layout: fixed;
                            .el-tabs__item {
                                width: 33%;
                                height: auto;
                                font-size: 0.875rem;
                                color: #151e25;
                                line-height: 20px;
                                padding: 0 2px;
                                white-space: break-spaces;
                                vertical-align: middle;
                                display: table-cell;
                                text-align: center;
                                &:first-child {
                                    border-right: 1px solid #0056ff;
                                }
                                &:last-child {
                                    border-left: 1px solid #0056ff;
                                }
                                &.is-active {
                                    color: #fff;
                                    background-color: #0056ff;
                                    border-color: #0056ff !important;
                                }
                            }
                        }
                    }
                }
            }
            .el-tabs__content {
                padding: 0 0 0 8px;
                box-sizing: border-box;
                // .worker-order-item {
                //     padding-right: 8px;
                // }
                .detail {
                    padding-right: 8px;
                    .el-button {
                        float: right;
                        padding: 0;
                        i.el-icon-arrow-up,
                        i.el-icon-arrow-down {
                            font-weight: bold;
                            color: #525e69;
                            font-size: 1rem;
                        }
                    }
                    ul.el-timeline {
                        padding-left: 0;
                        .el-timeline-item {
                            padding-top: 4px;
                            padding-bottom: 6px;
                            &:last-child {
                                padding-bottom: 0px;
                            }
                            .el-timeline-item__tail {
                                left: 5px;
                                opacity: 0.2;
                                border: 1px dashed #0056ff;
                            }
                            .el-timeline-item__node--normal {
                                left: 1px;
                                background: #0056ff;
                                width: 10px;
                                height: 10px;
                            }
                            .el-timeline-item__wrapper .el-timeline-item__content {
                                font-size: 0.875rem;
                                line-height: 18px;
                                color: #525e69;
                            }
                        }
                    }
                }
            }
        }
    }
}
button,
.el-button {
    cursor: pointer;
    outline: none;
    &.no-bg {
        background-color: transparent;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        border: unset;
        &.i {
            padding: 0;
            .el-icon-lock {
                font-size: 22px;
                font-weight: bold;
                color: #1e5eff;
                padding: 0;
            }
        }
        .el-icon-data-line {
            font-size: 22px;
            font-weight: bold;
            color: #1e5eff;
            padding: 0;
        }
    }
    &.loc {
        width: 24px;
        height: 24px;
        background-image: url("~imgs/ic_placeholder.png");
    }
    &.edit {
        width: 24px;
        height: 24px;
        background-image: url("~imgs/ic_modify.png");
    }
    &.delete {
        width: 24px;
        height: 24px;
        background-image: url("~imgs/ic_delete.png");
    }
    &.detail {
        width: 24px;
        height: 24px;
        background-image: url("~imgs/ic_detail.png");
    }
    &.refresh {
        background-image: url("~imgs/ic_reboot.png");
    }
    &.bind {
        width: 24px;
        height: 24px;
        background-image: url("~imgs/ic_bind.png");
    }
    &.unbind {
        width: 24px;
        height: 24px;
        background-image: url("~imgs/ic_unbind.png");
    }
    &.currency {
        width: 24px;
        height: 24px;
        background-image: url("~imgs/ic_revenue.png");
    }
    + .el-button {
        margin-left: 8px;
    }
}
el.button:disabled,
button:disabled {
    cursor: not-allowed;
}
.mainctrl .el-pagination.is-background {
    // padding: 12px;
    text-align: center;
    .btn-prev,
    .btn-next {
        width: 36px;
        height: 36px;
        line-height: 36px;
        color: #525e69;
        background: transparent;
        border-radius: 4px;
        &:disabled {
            color: #525e69;
        }
    }
    /deep/.btn-prev:before {
        content: "\8592";
    }
    /deep/.btn-next:before {
        content: "下一页";
    }
    .el-pager li {
        width: 36px;
        height: 36px;
        line-height: 36px;
        color: #5a607f;
        background: rgba(255, 255, 255, 0);
        border-radius: 4px;
        font-size: 1rem;
        &:not(.disabled).active {
            color: #e2dfdf;
            background: #525e69;
        }
    }
}

.el-popover.dark {
    .el-table {
        // background-color: transparent;
        tr {
            // background-color: transparent;
            th {
                // background-color: transparent;
                padding: 0;
                border: none;
                color: #525e69;
                font-size: 16px;
                letter-spacing: 0;
                font-weight: normal;
                &.is-leaf {
                    border-bottom: none;
                }
                .cell {
                    word-break: break-word;
                }
            }
            td {
                padding: 0;
                border: none;
                color: #151e25;
                font-size: 16px;
            }
        }
        &::before {
            background-color: unset;
        }
        &.el-table--enable-row-hover .el-table__body tr:hover > td {
            background-color: transparent;
        }
    }
}
.mainctrl .el-dialog,
.el-dialog.inner {
    background: #e6eef8;
    .el-dialog__header {
        padding: 3.5vh 2vw 1vh 2vw;
        .el-dialog__title {
            font-size: 1.25rem;
            color: #151e25;
        }
    }
    .el-dialog__body {
        padding: 1vh 2vw 2vh 2vw;
    }
    .el-dialog__footer {
        padding: 0 2vw 2vh 2vw;
        min-height: 70px;
        .el-button {
            font-size: 1rem;
            width: 130px;
            height: 50px;
            border-radius: 6px;
            &.el-button--default {
                background: #f5faff;
                border: 1px solid #d4dcea;
                color: #525e69;
            }
            &.el-button--primary {
                background: #0263ff;
                color: #fff;
                border: unset;
            }
        }
    }
}
.formVertical {
    max-height: calc(65vh - 75px);
    .mCustomScrollBox .mCSB_container > .form-item {
        width: calc(100% - 20px);
    }
    .form-item {
        + .form-item {
            margin-top: 18px;
        }
        .label {
            font-size: 1rem;
            margin-bottom: 12px;
            color: #525e69;
            letter-spacing: 0;
            .el-button:not(.refresh) {
                width: 36px;
                height: 36px;
                padding: 8px;
                background: transparent;
                border-radius: 4px;
                border: unset;
                .el-icon-plus {
                    color: #1e5eff;
                    font-size: 1rem;
                    font-weight: bold;
                }
            }
            .el-button.refresh {
                width: 24px;
                height: 24px;
                margin-top: 8px;
                vertical-align: top;
            }
        }
        .el-input,
        .el-select,
        .el-input-number {
            width: 100%;
            input {
                background: #f5faff;
                border: 1px solid #d4dcea;
                border-radius: 8px;
                color: #151e25;
                letter-spacing: 0;
                font-size: 1rem;
                line-height: 48px;
                height: 48px;
                vertical-align: middle;
            }
            input::-webkit-input-placeholder {
                color: #525e69;
            }
        }
        .el-select .el-input .el-select__caret {
            color: #525e69;
        }
        .el-input-number {
            &.is-controls-right[class*="mini"] [class*="decrease"],
            &.is-controls-right[class*="mini"] [class*="increase"] {
                line-height: unset;
            }
            .el-input__inner {
                text-align: left;
            }
            .el-input-number__decrease,
            .el-input-number__increase {
                border: unset;
                background-color: #f5faff;
                margin-right: 2px;
                .el-icon-arrow-down,
                .el-icon-arrow-up {
                    font-size: 16px;
                    color: #525e69;
                }
            }
        }
        .el-date-editor .el-icon-date {
            color: #151e25;
        }
        .el-checkbox {
            margin-bottom: 12px;
            display: block;
            .el-checkbox__inner {
                width: 20px;
                height: 20px;
                &::after {
                    top: 2px;
                    height: 10px;
                    left: 7px;
                }
            }
            .el-checkbox__label {
                line-height: 24px;
                font-size: 1rem;
                color: #151e25;
            }
        }
        .el-textarea .el-textarea__inner {
            background: #f5faff;
            border: 1px solid #d4dcea;
            border-radius: 8px;
            color: #151e25;
            letter-spacing: 0;
            font-size: 1rem;
        }
    }
    .hint {
        margin: 8px 20px 18px 0;
        font-size: 0.95rem;
        color: #1e5eff;
    }
    .err {
        margin: 8px 20px 18px 0;
        font-size: 0.95rem;
        color: #fc2e56;
    }
}
.el-message-box.custom {
    background: #e6eef8;
    border: unset;
    padding-bottom: 20px;
    .el-message-box__header {
        padding: 20px 20px 10px;
        .el-message-box__title {
            font-size: 1.25rem;
            color: #525e69;
        }
        .el-message-box__headerbtn .el-message-box__close,
        .el-message-box__headerbtn:focus .el-message-box__close,
        .el-message-box__headerbtn:hover .el-message-box__close {
            color: #ffffff;
        }
    }
    .el-message-box__content {
        font-size: 1.125rem;
        color: #151e25;
    }
    .el-message-box__btns {
        padding: 20px 20px 0;
        .el-button {
            font-size: 0.875rem;
            height: 36px;
            &.el-button--primary {
                background: #0263ff;
                color: #fff;
                border: unset;
            }
            &:not(.el-button--primary) {
                background: #f5faff;
                border: 1px solid #d4dcea;
                color: #525e69;
            }
        }
    }
}

.horizontal {
    display: flex;
    &.spaceBetween {
        justify-content: space-between;
    }
    &.alignItemCenter {
        align-items: center;
    }
}
@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}
.rotate {
    animation: spin 1s linear infinite;
}
$dividerGray: #6c6c6c;
.lineBottom {
    border-bottom: 1px solid $dividerGray;
}
.colorGray {
    color: $dividerGray;
}
.el-tooltip__popper.custom.is-light {
    color: #151e25;
}

div.connector-obj {
    .imgItem {
        display: inline-block;
        vertical-align: top;
        margin-left: 2px;
    }
    .circle-number {
        display: inline-block;
        width: 16px;
        height: 16px;
        color: #fff;
        border-radius: 16px;
        line-height: 16px;
        text-align: center;
        padding: 4px;
        vertical-align: sub;
    }
    .color0 {
        background: transparent;
        border: 1px solid #525e69;
        color: #525e69;
        &.circle-number {
            padding: 3px;
        }
    }
    .color1 {
        background: #33c85a;
    }
    .color2 {
        background: #ffa10b;
    }
    .color3 {
        background: #5e3715;
    }
    .color4 {
        background: #fc2e56;
    }
    .color5 {
        background: #8c8f97;
    }
    .color6 {
        background: #1e5eff;
    }

    .inUse {
        background: #409eff;
    }
    .available {
        background: #33c85a;
    }
    .unavailable {
        background: #fc2e56;
    }
    .circular {
        display: inline-block;
        height: 24px;
        width: 24px;
        position: relative;
        margin-top: 2px;
        .number {
            position: absolute;
            top: 1px;
            left: 8px;
        }
        .color6 {
            position: absolute;
            height: 24px;
            width: 24px;
            background-color: #0885ff;
            border: 2px solid #0885ff;
            border-radius: 50%;
            border-top: 2px solid #e7f3fd;
            border-bottom: 2px solid #e7f3fd;
            -webkit-animation: spin 2s linear infinite;
            animation: spin 2s linear infinite;
        }
        @-webkit-keyframes spin {
            0% {
                -webkit-transform: rotate(0deg);
            }
            100% {
                -webkit-transform: rotate(360deg);
            }
        }
        @keyframes spin {
            0% {
                transform: rotate(0deg);
            }
            100% {
                transform: rotate(360deg);
            }
        }
    }
    &:not(.nextLine) {
        display: inline-block;
        + div.connector-obj {
            margin-left: 12px;
        }
    }
    &.nextLine {
        display: block;
        margin-top: 4px;
    }
    &.detail {
        padding: 16px 28px 16px 16px;
        .header {
            font-size: 1rem;
            color: #525e69;
            .name {
                display: inline-block;
                &.circular {
                    vertical-align: super;
                }
            }
            .battery {
                display: inline-block;
                float: right;
                margin-top: 6.5px;
            }
        }
        .info {
            font-size: 0.875rem;
            color: #525e69;
            height: 20px;
            .loadBalance {
                display: inline-block;
                float: right;
            }
        }
        .el-slider {
            margin: 0 10px;
        }
        .circle-number {
            line-height: 18px;
            vertical-align: unset;
            margin-top: 3.5px;
        }
        .circular .number {
            top: 5px;
            left: 9px;
            color: #fff;
        }
    }
}
.el-slider {
    .el-slider__marks-text {
        top: 8px;
        font-size: 0.875rem;
        color: #525e69;
        span {
            display: inline-block;
            height: 8px !important;
            overflow: hidden;
        }
    }
    .el-slider__marks-text:last-child {
        -webkit-transform: translateX(-30px);
        transform: translateX(-30px);
        width: 60px;
        word-break: break-word;
    }
    .el-slider__runway {
        height: 14px;
        border-radius: 7px;
        margin-top: 6px;
        &.disabled {
            background-color: #d5d4d4;
            .el-slider__button-wrapper {
                top: -10px;
            }
            .el-slider__bar {
                height: 14px;
                border-radius: 7px;
            }
            .el-slider__button {
                border-color: #fcfcfc;
            }
        }
    }
    .el-slider__stop {
        display: none;
    }
}
.el-slider:not(.spec) {
    .el-slider__runway.disabled {
        .el-slider__bar {
            background: #0c83ff;
        }
        .el-slider__button {
            background: #0c83ff;
        }
    }
}
.el-slider.spec {
    .el-slider__runway.disabled {
        .el-slider__bar {
            background: #ffa10b;
        }
        .el-slider__button {
            background: #ffa10b;
        }
    }
}
.inputPassword {
    -webkit-text-security: disc;
}
.mr-10 {
    margin-right: 10px;
}
.fa-eye,
.fa-eye-slash {
    color: #525e69;
    font-size: 1rem;
}
input {
    font-family: inherit;
}

.home-settings .el-menu--collapse > .el-submenu > .el-submenu__title .el-submenu__icon-arrow {
    display: block !important;
}

.home-settings .el-menu--collapse > .el-submenu.is-opened > .el-submenu__title .el-submenu__icon-arrow {
    transform: rotateZ(180deg);
}

.el-menu--popup {
    padding: 0 !important;
}

// hide the up and down arrows of input type number
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}

.el-dialog__body {
    word-break: normal !important;
}

.actions li {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    .actionFunction {
        min-width: 108px;
    }
}

.dialogForm {
    .item {
        width: 100%;
        height: 40px;
        .label {
            display: inline-block;
            width: 150px;
        }
        .info {
            display: inline-block;
            width: calc(100% - 150px);
        }
        .info.el-select {
            display: inline-block;
            box-sizing: border-box;
            .el-input input {
                width: 100%;
            }
        }
        .el-date-editor {
            display: inline-block;
            box-sizing: border-box;
            width: calc(100% - 150px);
            input {
                width: 100%;
            }
        }
    }
}

//default scrollbar height and width and color
//Width of scroll bar
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}
//Slider for scroll bar
::-webkit-scrollbar-thumb {
    background-color: #0d74de;
    border-radius: 3px;
}

.notNow .el-picker-panel__footer .el-button--text.el-picker-panel__link-btn {
    display: none;
}

// update datepicker styling for station detail page only
.customDatepicker {
    .el-range__icon {
        color: black !important;
    }
    .el-range-input {
        background: transparent;
        width: 15% !important;
        &:hover {
            cursor: pointer;
        }
    }
    .el-range-separator {
        display: flex !important;
        align-items: center;
    }
    .el-range__close-icon {
        display: none !important;
    }
    &:hover {
        cursor: pointer;
    }
}

// custom pdf table header
.pdfTableHeader {
    color: #000000 !important;
    font-weight: 600;
    .cell {
        word-break: break-word !important;
    }
}

.tariff-dialog {
    height: 98vh;
    margin: 1vh auto !important;
    .el-dialog__body {
        height: 84%;
        padding: 1vh 2vw 1vh 2vw !important;
    }
    .fa-info-circle {
        color: #0263ff;
    }
}

// hide table headers in tariff page
.tariff {
    .formVertical {
        max-height: calc(86vh - 75px);
    }
    .el-table {
        .el-table {
            margin-bottom: 0px;
            tr {
                background: transparent;
            }
        }
        .el-table__expanded-cell > div:not(:first-child) {
            .el-table__header-wrapper {
                display: none;
            }
        }
    }
}

.tariffPopup {
    .el-table {
        background: transparent;
    }
}

.tableInfoTooltip {
    padding: 3px !important;
}

.pricingSectionCollapse {
    .el-collapse-item__header {
        font-size: 16px;
        font-weight: 600;
        height: 30px;
        line-height: 30px;
        background-color: transparent;
    }
    .el-collapse-item__content {
        padding: 0;
    }
    .el-collapse-item__wrap {
        background-color: transparent;
    }
}
.usageCollapseItem {
    .el-collapse-item__header {
        font-size: 16px;
        font-weight: 600;
        height: 30px;
        line-height: initial;
        background-color: #ffffff;
        padding: 0px 5px 0 15px;
    }
    .el-collapse-item__content {
        padding: 0;
    }
    .el-collapse-item__wrap {
        background-color: #ffffff;
    }
}

.price {
    .customName {
        .customNameItem {
            width: 100%;
            margin-bottom: 0;
            .el-form-item__content {
                display: flex;
                width: 100%;
                .info {
                    width: 180px;
                    margin-left: auto;
                }
                .el-form-item__error {
                    margin-top: -5px;
                }
            }
        }
    }
}

.custom-map-control-button {
    right: 11px !important;
    padding: 0 !important;
    height: 36px;
    width: 36px;
    box-shadow: #000 0px 1px 4px -1px;
    border-radius: 2px;
    background-color: rgb(255, 255, 255);
    user-select: none;
    border-width: 0px;
    border-color: currentColor;
    display: flex;
    justify-content: center;
    align-items: center;
}

.session-dialog {
    height: 85%;
    overflow: scroll;
    .el-dialog__header {
        padding: 0 !important;
    }
}
