.mainctrl {
    .el-table--border::after,
    .el-table--group::after,
    .el-table::before {
        background-color: transparent;
    }
}
.mainctrl .el-table {
    background-color: transparent;
    tr {
        height: 40px;
        background-color: transparent;
        th {
            background-color: transparent;
            padding: 0;
            font-size: 0.875rem;
            border: none;
            color: #525E69;
            letter-spacing: 0;
            border-bottom: 1px solid #DCE6F3;
            &.center .cell {
                text-align: center;
            }
            .cell {
                word-break: break-word;
            }
        }
        td {
            padding: 0;
            font-size: 0.875rem;
            color: #151E25;
            border: none;
            &.center .cell {
                text-align: center;
            }
            .el-switch {
                line-height: unset;
                height: unset;
            }
            .cell {
                word-break: break-word;
                span.el-tooltip.text {
                    color: #FFF;
                    background-color: #409eff;
                    border-radius: 14px;
                    padding: 4px 8px;
                    text-align: center;
                    line-height: 28px;
                }
            }
        }
    }
    thead.is-group th {
        background-color: transparent;
    }
    // thead tr th.is-leaf {
    //     border-bottom: none;
    // }
    &::before {
        background-color: unset;
    }
    &.el-table--enable-row-hover .el-table__body tr:hover>td {
        background-color: transparent;
    }
    &.el-table--border, &.el-table--group {
        border: unset;
    }
    &.enable-row-click {
        &.el-table--enable-row-hover .el-table__body tr:hover>td {
            background-color: #D5E0EF;
        }
        tbody tr {
            cursor: pointer;
        }
    }
    &.moreCol {
        .el-button {
            margin-top: 4px;
        }
        .el-button:last-child() {
            margin-bottom: 4px
        }
    }
}
.table-result .el-table,
.el-tab-pane .el-table {
    margin-bottom: 28px;
    tbody tr {
        td {
            font-size: 0.875rem;
            border-bottom: 1px solid #DCE6F3;
            .el-popover__reference {
                cursor: pointer;
                height: 28px;
                border-radius: 30px;
                color: #FFF;
                background-color: #1e5effab;
                padding: 4px 8px;
                text-align: center;
            }
        }
    }
}