.mainctrl {
    .el-table--border::after,
    .el-table--group::after,
    .el-table::before {
        background-color: transparent;
    }
}

.mainctrl .el-table {
    background-color: transparent;
    tr {
        height: 40px;
        background-color: transparent;
        th {
            background-color: transparent;
            padding: 0;
            font-size: 0.875rem;
            border: none;
            color: #929292;
            letter-spacing: 0;
            &.is-leaf {
                border-bottom: none;
            }
            .cell {
                word-break: break-word;
            }
        }
        td {
            padding: 0;
            font-size: 1rem;
            color: #FCFCFC;
            border: none;
            .el-switch {
                line-height: unset;
                height: unset;
            }
            .cell {
                word-break: break-word;
                .el-button {
                    width: 84px;
                }
            }
        }
    }
    &::before {
        background-color: unset;
    }
    &.el-table--enable-row-hover .el-table__body tr:hover>td {
        background-color: transparent;
    }
    &.el-table--border, &.el-table--group {
        border: unset;
    }
    &.enable-row-click {
        &.el-table--enable-row-hover .el-table__body tr:hover>td {
            background-color: #222;;
        }
        tbody tr {
            cursor: pointer;
        }
    }
    &.moreCol {
        .el-button {
            margin-top: 4px;
        }
        .el-button + .el-button {
            margin-left: 0;
        }
        .el-button:last-child() {
            margin-bottom: 4px
        }
    }
}
.table-result .el-table,
.el-tab-pane .el-table {
    margin-bottom: 28px;
    thead tr {
        height: 44px;
        th.is-leaf {
            color: #6C6C6C;
            border-bottom: 1px solid #2C2E30;
        }
    }
    tbody tr {
        height: 50px;
        td {
            font-size: 0.875rem;
            border-bottom: 1px solid #2C2E30;
            .el-button {
                background: #2D3238;
                border-radius: 4px;
                font-size: 0.875rem;
                color: #FFFFFF;
                letter-spacing: 0;
                padding: 8px 20px;
                border: unset;
            }
            &.el-table__expanded-cell {
                background: #222222;
                padding: 20px 60px 10px 60px;
                &:hover {
                    background-color: #222222 !important;
                }
            }
            .el-popover__reference {
                cursor: pointer;
                width: 30px;
                height: 28px;
                border-radius: 30px;
                background-color: #1e5effab;
                padding: 4px;
                text-align: center;
            }
        }
    }
}